<ul>
	<li><a href="#">About PackRapt</a></li>
	<li><a href="#">Support</a></li>
	<li><a href="#">Pricing</a></li>
	<li><%= link_to "Contact Us", contact_path, :target => "_blank" %></li>
	<li><a href="#">Investors</a></li>
	<li><a href="#">Community</a></li>
	<li><a href="#">PackRapt Blog</a></li>
	<li><a href="#">Partners</a></li>
</ul>
