<ul>
	<li><a href="#">About PackRapt</a></li>
	<li><a href="#">Support</a></li>
	<li><a href="#">Pricing</a></li>
	<li><a href="#">Contact Us</a></li>
	<li><a href="#">Investors</a></li>
	<li><a href="#">Community</a></li>
	<li><a href="#">PackRapt Blog</a></li>
	<li><a href="#">Partners</a></li>
</ul>
